<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.pms.Dao.BoardDAO">
  
  <select id="selectList" resultType="board" parameterType="map">
	  select bno,titl title,cdt as cnt 
	  from pms2_board
  <if test="startIndex != null and pageSize != null">
      limit #{startIndex},#{pageSize}
  </if>
  </select>
  
  <select id="selectOne" resultType="board" parameterType="int">
	  select bno,titl title,cont content,cdt cnt
	  from pms2_board where bno=#{value}
  </select> 
  
  <insert id="insert" parameterType="board">
	  insert into pms2_board(titl,cont,cdt)
	  values(#{title},#{content},now())
  </insert>
 
  <update id="update" parameterType="board">
	 update pms2_board 
	 set titl=#{title}, cont=#{content}, cdt=now() where bno=#{bno}
  </update>
 
  <delete id="delete" parameterType="int">
  delete from pms2_board 
  where bno=#{value}
  </delete>
  
  <select id="countAll" resultType="int">
  select count(bno)
  from pms2_board
  </select>
  
</mapper>