<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.pms.dao.Memberdao">
  
  <insert id="insert" parameterType="member">
	  insert into member(email,name,password)
	  values(#{email},#{name},password(#{password}))
  </insert>
  
  <select id="login" resultType="int" parameterType="member">
    select count(email) 
    from member 
    where email = #{email} and password = password(#{password})
  </select>
  
  <delete id="remove" parameterType="member">
  delete from member 
  where no = ${no};
  </delete>
  
  <select id="user" parameterType="member" resultType="member">
  select no,email,name
  from member 
  where email = #{email} and password = password(#{password})
  </select>
</mapper>