<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bitcamp.pms.Dao.BoardDAO">
  
  <select id="selectList" resultType="bitcamp.pms.domain.Board">
	  select bno,titl title,cdt 
	  from pms2_board
  </select>
  
  <select id="selectOne" resultType="bitcamp.pms.domain.Board" parameterType="int">
	  select bno,titl title,cont content,cdt 
	  from pms2_board where bno=#{value}
  </select> 
  
  <insert id="insert" parameterType="bitcamp.pms.domain.Board">
	  insert into pms2_board(titl,cont,cdt)
	  values(#{title},#{content},now())
  </insert>
 
  <update id="update" parameterType="bitcamp.pms.domain.Board">
	 update pms2_board 
	 set titl=#{title}, cont=#{content}, cdt=now() where bno=#{bno}
  </update>
 
  <delete id="delete" parameterType="int">
  delete from pms2_board 
  where bno=#{value}
  </delete>
</mapper>