<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team">
 
  <select id="selectList" resultType="bitcamp.pms.domain.Team">
     select name, sdt, edt, max_qty 
     from pms2_team
  </select>
  
  <select id="selectOne" resultType="bitcamp.pms.domain.Team" 
                            parameterType="java.lang.String">
     select dscrt, sdt, edt, max_qty 
     from pms2_team 
     where name=#{value}
  </select> 
  
  <insert id="insert" parameterType="bitcamp.pms.domain.Team">
    insert into pms2_team(name,dscrt,max_qty,sdt,edt) 
    values(#{name},#{description},#{maxQty},#{startTime},#{endTime})
  </insert>
 
  <update id="update" parameterType="bitcamp.pms.domain.Team">
    update pms2_team 
    set dscrt=#{description}, max_qty=#{maxQty}, sdt=#{startTime}, edt=#{endTime}
    where name=#{name}
  </update>
 
  <delete id="delete" parameterType="java.lang.String">
    delete from pms2_team 
    where name=#{value}
  </delete>
</mapper>