<!DOCTYPE html>
<html>
<head>
<meta charset='UTF-8'>
<title>게시물 보기</title>
</head>
<body>
<h1>게시물 보기</h1>
<form action='update' method='post'>
<table border='1'>
<h1>해당 게시글은없습니다.</h1>
<tr><th>번호</th><td>
    <input type='text' name='bno' value='{{board.[0].bno}}' readonly></td></tr>
<tr><th>제목</th>
    <td><input type='text' name='title' value='{{board.[0].title}}'></td></tr>
<tr><th>내용</th>
    <td><textarea name='content' rows='10' cols='60'>{{board.[0].content}}</textarea></td></tr>
<tr><th>등록일</th><td>2018-07-06</td></tr>
</table>
<p>
<a href='list'>목록</a>
<button>변경</button>
<a href='delete?no={{board.[0].bno}}'>삭제</a>
</p>
<script>
console.log({{board.[0].bno}});
console.log(12313);
</script>
</form>
</body>
</html>
